body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

h1 {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

h2 {
    color: #47454c;
}

input {
    border: none;
    border-bottom: 3px solid #b053f3;
    height: 2em;
    font-size: 1.4em;
    padding: 0 0.5em;
    width: 100%;
    box-sizing: border-box;
}

#good {
    font-size: 24px;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 30px;
    height: 2em;
}

button {
    background-color: #752bab;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    /* box-shadow: 2px 3px 11px 0px #666; */
    border: none;
    width: 27%;
    touch-action: manipulation;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select:none;
         -o-user-select:none;
            user-select:none;
}

button[disabled] {
    background-color: #a7a7a7;
}

.action-area {
    display: flex;
    justify-content: space-around;
}

#bad {
    margin-top: 3px;
    display: block;
    font-size: 18px;
    margin-bottom: -22px;
    margin-left: 11px;
    color: #d23265;
    height: 21px;
}

.area {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 10px;
}

#index {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.study-button {
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
    width: unset;
    display: block;
    width: 80%;
    box-sizing: border-box;
    margin: auto;
}

.menu-button {
    width: 90%;
    margin: 10px auto;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.verb-entry {
    display: flex;
    font-size: 24px;
    border-bottom: 1px solid #e0e0e0;
    padding: 6px 10px;
}

.verb-entry dt {
    width: 40%;
}

#theVerbs {
    position: absolute;
    top: 0;
    bottom: 50px;
    overflow-y: scroll;
    left: 0;
    right: 0;
}

